* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;

}
body {
    text-align:center;
    padding: 2rem;
    min-height: 100vh;
    background:linear-gradient(180deg,#db4444 0%,#3f24dd 98%);
}
#form-multiplicacao {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #fff;
    color: #333;
    border-radius: 1rem;  
}
.controle-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin: 0 1rem;
}
.controle-form label {
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
    font-weight: bold;
}
.controle-form input {
    margin-bottom: 1rem;
    flex: 1;
    padding: 0.6rem 0.4rem;
    border: 1px solid #333;
    width: 50px;
    border-radius: 5px;
    text-align: center;
}
#calcular {
   max-height: 50px; 
   padding: 0.6rem 1.2rem;
   width: 200px;
   color: #fff;
   background-color: #333;
   border: 1px solid #333;
   border-radius: 5px;
   cursor: pointer;
   font-weight: bold;
}
.operacao-multiplicacao {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 1rem auto;
    padding: 2rem 1rem;
    color: #333;
    border-radius: 1rem;    
}
.operacao-multiplicacao .row {
    display: flex;
    justify-content: center;
    width: 150px;
    border: 1px solid #333;
    border-bottom: none;
    padding: 0.5rem;
}
.operacao-multiplicacao .row:last-child {
    border-bottom: 1px solid #333;
}